@font-face {
    font-family: 'TTLakes';
    src: url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'TTLakes';
    src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakes';
    src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #F8F8F8;
   
}
/*Навигационое меню*/

.nav, .left, .center, .right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    white-space: nowrap;
    font-family: 'TTLakes';
    font-weight: 500;
    font-style: normal;
    gap: 10px;

  
}

/*Картинка в навигации*/

.header--img {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 40px;

  
}
/*Блок заголовка*/

.left--border--icons {
    width: 4px;
    margin-right: 10px;
    margin-left: 0;
}

.title {
    display: flex;
    white-space: nowrap;
    width: 100%;
    height: auto;
    margin-top: 45px;
   
    
   
}
.right--title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

}
/*Текст заголовка*/
h1 {
    font-family: 'TTLakes';
    font-weight: 700;
    font-style:normal;
    margin-left: 0;
   
}

/*Перегородка в навигации между иконками*/

.divider {
    width: 2px;
    height: 32px;
    border-radius: 25px;
    border: 2px solid #EAEAEA;
    display: none;
}

.divider-2 {
    width: 2px;
    height: 32px;
    border-radius: 25px;
    border: 2px solid #EAEAEA;
}
/*Размеры иконок*/

img {
    width: 40px;
    height: 40px
}
/*Надпись отзывы*/
.commit{
    display: none;
    margin-top: 45px;
    margin-left: 30px;

}

/*Весь текст в меню*/

.menu--title {
    display: flex;
    gap: 5px;
    border-radius: 10px;
    white-space: nowrap;
    font-family: 'TTLakes';
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    color: #7E7E82;
    border: none;
    background-color: #F8F8F8;
}
/*Текст 1 в блоке меню */

.menu--title--1{
    display: flex;
    justify-content: center;
    min-width: 246px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #B8FFEC;
    white-space: nowrap;
    align-items: center;
    font-family: 'TTLakes';
    font-weight: 500;
     font-size: 16px;
    font-style: normal;
    background-color: #FFFFFF;
    color: #7E7E82;
}
/*Основной блок меню*/
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-top: 45px;
    padding: 10px;
    
}

/*Основной блок с текстом икартинкой*/

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 45px;
   
}
/*Основной текст*/

.main--title {
    max-width: 100%;
    height: auto;
    font-family: 'TTLakes';
    font-weight: 400;
    font-style:normal;
    padding-left: 10px;
   
}

/*Основная картинка*/

.main--img {
    width: 100%;
    height: auto;
    margin-left: 10px;

}
/*Чекбокс далее стрелки*/

.check-box-icon {
    width: 10px;
    height: 10px;
    margin-left: 40px;
  
}
/*Текст от чек бокса*/

.check-box-icon-text {
    font-family: 'TTLakes';
    font-weight: 500;
    font-style: normal;
    padding: 10px;

}


/*Экран для планшета*/


@media (min-width:784px){
    body {
        
        display: flex;
        width: 100%;
        height: auto;
    }
    .right--title{
        display: none;
    }
    .right{
        justify-content: flex-end;
        gap: 10px;
        width: 110px;

    }
    .left{
        justify-content: flex-start;
    }
    .center{
        justify-content: flex-end; 
        gap: 10px;
    }
   .divider{
    display: block;
   }
   .main-content {
    position: relative;
    display: flex;
    flex-direction: row;
    
   }
   .main--title{
    max-width: 50%;
    height: 160px;
    overflow: hidden;
    line-height: 20px;
    letter-spacing: 0.2px;

   }
   .check-box {
    position: absolute;
    width: 150px;
    height: 30px;
    white-space: nowrap;
    top: 200px;
   }
   .main--img {
    max-width: 50%;
   }
  
   }



/*РАЗМЕР ДЛЯ ЭКРАНА ДЛЯ ТЕЛЕФОНА*/

@media (max-width: 784px){
    
       .right--title{
        display: none;
    }
    .center {
        display:none;
    }

    .main--title{
    height: 90px;
    overflow: hidden;
   }
    .right--title{
        display: none;
    }
    .check-box {
        position:relative;
        right: 50px;
        margin: 15px;

    }
    .main--img{
        margin-left: 0px;
    }
}
/*Размер для веб*/
@media (min-width:1120px){
    html{
        margin: 0 auto;
    }
    .nav {
        display: none;
    }
    
.right--title{
    display: block;
    display: flex;
    align-items: center;
    margin-left: auto;
    
}
 .title{
    display: flex;
    align-items: center;
 }
       .title--text{
        font-family: 'TTLakes';
        font-weight: 500;
        font-style: normal;
        padding: 10px;

      }

      .commit {
        display:block;
        font-family: 'TTLakes';
        font-weight: 500;
        font-style: normal;
        color: #7E7E82;
        position:relative;
        left: 30px;

      }
      .main-content{
        padding: 0;
      }
}