@font-face {
    font-family: "TT Lakes";
    src: url(../fonts/TTLakes-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0 auto;
    box-sizing: border-box;
    background-color: rgba(248, 248, 248, 1);
}
.swiper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;
  height: 234px;
  margin: 0px;
  padding: 20px;
}
.swiper-wrapper{
    width: 270px;
}
.swiper-slide{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 240px;
   height: 72px;
   border: 1px solid rgba(234, 234, 234, 1);
   padding: 0px 15px;
   border-radius: 6px;
   background-color: rgba(255, 255, 255, 1);
}

.swiper-pagination{
    display: flex;
    justify-content: center;
    position:absolute;
    bottom: 40px;  
}
.swiper-pagination-bullet-active{
    background-color: rgba(181, 182, 188, 1);
}
.swiper-pagination-bullet{
    background-color: rgb(153, 150, 150);
}
img {
   
    display: flex;
    align-items: center;
  
}
.title {
    font-family: "TT Lakes";
    font-weight: 400;
    font-style: normal;
    width: 180px;
    height: 80px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-left: 15px;

}
.gradient{
    width: 24px;
    height: 90px;
    position: absolute;
    background: linear-gradient(to left, white,#ffffff00);
    z-index: 1000;
    right: 0;
}
#media__button{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 140px;
    height: 40px;
    font-family: "TT Lakes";
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    border: none;
    background-color: rgba(248, 248, 248, 1);
    &:hover{
        cursor: pointer;
    }
}
.is-hidden {
    display: none !important;
}
.flip {
    transform: rotate(180deg);
}

@media(min-width: 768px){
.swiper{
    padding-top: 0px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
}
.title{
    margin-bottom: 40px;
    width: 100%;
    height: 24px;
}
.gradient, .swiper-pagination{
    display: none;
}
#media__button{
    display: flex;
}
.swiper-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.swiper-slide:nth-child(n+7){
    display: none;
}
}
@media(min-width: 1120px){
.swiper-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.swiper-slide:nth-child(n+10){
    display: flex;
}
}