.swiper-slide-prices{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    width: 260px;
    height: 200px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 1)
  
}
.swiper-wrapper-prices{
    display: flex;
}
.swiper-prices{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
     width: 320px;
    height: 500px;
    gap: 15px;
    background-color: rgba(248, 248, 248, 1);

}
.title-prices{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;
    height: 56px;
    border: solid 1px orange;
    font-size: 14px;
    line-height: 15px;
    
}.title-prices-price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 74px;
    height: 38px;
    border: solid 1px greenyellow;
    font-size: 14px;
}
.title-prices-time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    height: 34px;
    border: solid 1px purple;
    font-size: 14px;

}
.title-time{
    display: flex;
    flex-direction: column;
}
p{
    font-size: 14px;
    color: rgba(27, 28, 33, 1);
    margin: 0;
}
h1,h3{
    color: rgba(126, 126, 130, 1);
    margin: 0;
    margin-bottom: 5px;

}
h2{
    font-family: "TT Lakes";
    font-weight: 500;
    font-size: 14px;
}

h1{
    font-family: "TT Lakes";
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    margin-left: 19px;
}


.swiper-pagination-prices{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;

}
h2{
    font-size: 16px;
    margin: 0px;
    color: rgba(27, 28, 33, 1);
}
.swiper-slide-prices-order{
    width: 119px;
    height: 32px;
}
.gradient-prices{
    width: 24px;
    height: 270px;
    position: absolute;
    background: linear-gradient(to left, white,#ffffff00);
    z-index: 1000;
    right: 0;
    left: 295px;
}
.footer-prices{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 100px;
    font-size: 12px;
    line-height: 14px;
    background-color: rgba(248, 248, 248, 1);
}